
:root{
  --main-radius: 5px;
  --main-padding: 10px;
}

html{
  font-size: 16px;
}

body{
  margin: 5px;
  font-family: Tahoma, Verdana, sans-serif;
}


.container{
  display:grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr minmax(4fr, max-content) 1fr;
  grid-template-areas: "header header header"
                       "contact contact headshot"
                       "sidebar main main"
                       "footer footer footer";
  grid-gap: .2rem;
}

header{
  background-color: #05386B;
  color: white;
  text-align: center;
  grid-area: header;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
 }


img {
  height: 100%;
  display: flex;
  margin: auto;
  border-radius: 5px;
 }

.about{
  max-width: 550px;
}

#contact{
  background-color: #379683;
  grid-area: contact;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}


#headshot{
  background-color: #379683;
  grid-area: headshot;
  border-radius: var(--main-radius); 
 
}

#sidebar{ 
  background-color: #379683;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

main{
  background-color: #5CDB95;
  grid-area: main;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

footer{
  background-color: #05386B;
  color: white;
  text-align: center;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  min-height: 100px;
}

h1{
  font-size: 2.5em;
  color: white;
}

h2, h3, h4, h5, li {
  text-align: left;
  padding-left: 5px;
}

h2{
  padding: 20px 5px 20px 5px;
}

h3, h5{
  padding: 10px 5px 5px 5px;
}

p{
  text-align: left;
  padding-left: 5px;
  
}



@media only screen and (max-width: 550px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr .5fr 3fr 1fr .5fr;
    grid-template-areas:
      "header"
      "headshot"
      "contact"
      "main"
      "sidebar"
      "footer";
    
  }
}
















