body {
  background-color: beige;
  display: flex;
  flex-direction: column;
}

.header{
  text-align: center;
}

#box-container {
  display:flex;
}

#box 1 {
}

.about {
  display: flex;
  flex-direction: column;
  color: blue;
  width: 20vw;
  padding: 1rem;
  
}

.exp-header {
  display:flex;
  flex-direction: column;
  color: red;
  text-align: center;
  width 80vw;
  padding: 1rem;
}

.
